* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    color: #ff6347;
}



span {
    color: #ff6347;
}

li:hover {
    color: #ff6347;
}

.rotate {
    animation: rotatetion 10s linear infinite;
}

@keyframes rotatetion {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }

}